.custom_header_content {
  padding: 16px;
}

.custom_burger-menu {
  display: flex;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
}

.custom_burger-menu div {
  width: 18px;
  height: 2px;
  background: #101828;
}

* {
  font-family: Lato;
}

* {
  outline: none;
  box-sizing: border-box;
}
.custom_posts_feed div {
  padding: 0px !important;
}
#taxonomy a {
  pointer-events: none;
  text-decoration: none !important;
  display: block;
  padding: 1px 8px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  border-radius: 6px;
}
#taxonomy > div:first-child a {
  background: #feebcb;
  color: #7b341e;
}
#taxonomy > div:nth-child(2) a {
  background: #e2e8f0;
  color: #1a202c;
}
